//
// Color system
//

$white: #fff;
$black: #000;

$gray-100: #f1f5f7;
$gray-200: #f7f7f7;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #98a6ad;
$gray-700: #6c757d;
$gray-800: #343a40;
$gray-900: #323a46;

$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
                (
                        "100": $gray-100,
                        "200": $gray-200,
                        "300": $gray-300,
                        "400": $gray-400,
                        "500": $gray-500,
                        "600": $gray-600,
                        "700": $gray-700,
                        "800": $gray-800,
                        "900": $gray-900
                ),
                $grays
);

$blue: #3bafda;
$indigo: #675aa9;
$purple: #6559cc;
$pink: #f672a7;
$red: #f1556c;
$orange: #fd7e14;
$yellow: #f7b84b;
$green: #1abc9c;
$teal: #02a8b5;
$cyan: #37cde6;


$primary: $blue;
$secondary: $gray-700;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$purple: $purple;
$pink: $pink;
$light: $gray-100;
$dark: $gray-900;

$app-theme-colors: (
        "pink": $pink,
        "purple": $purple
);

$theme-colors: map-merge($theme-colors, $app-theme-colors);
  