// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg: 1.5;
$line-height-sm: 1.5;

$border-width: 1px;
$border-color: lighten($gray-300, 2.5%);

$border-radius: .25rem;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;

$rounded-pill: 50rem;

$box-shadow-sm: 0 0.75rem 6rem rgba(56, 65, 74, .03);
$box-shadow: 0 0 8px 0 rgba(154, 161, 171, .3);
$box-hadow-lg: 0 0 45px 0 rgba(0, 0, 0, 0.12);

$component-active-color: $white;
$component-active-bg: theme-color("primary");

$caret-width: .3em;
$caret-vertical-align: $caret-width * .85;
$caret-spacing: $caret-width * .85;

$transition-base: all .2s ease-in-out;
$transition-fade: opacity .15s linear;
$transition-collapse: height .35s ease;

$embed-responsive-aspect-ratios: ();
$embed-responsive-aspect-ratios: join(((21 9), (16 9), (4 3), (1 1), ), $embed-responsive-aspect-ratios);
