// Dropdowns
//
$dropdown-padding-y: .25rem;
$dropdown-border-color: darken($light, 3%);
$dropdown-border-radius: $border-radius;
$dropdown-border-width: 0;
$dropdown-divider-bg: $gray-200;
$dropdown-divider-margin-y: $nav-divider-margin-y;
$dropdown-box-shadow: 0 .5rem 1rem rgba($black, .175);

$dropdown-link-color: $body-color;
$dropdown-link-hover-color: $headings-color;
$dropdown-link-hover-bg: $gray-100;

$dropdown-link-active-color: $dark;
$dropdown-link-active-bg: $gray-100;
$dropdown-link-disabled-color: $gray-600;

$dropdown-item-padding-y: .375rem;
$dropdown-item-padding-x: 1.2rem;

$dropdown-header-color: inherit;