@import 'variables/colors';
@import "variables/grid";
@import "variables/components";
@import "variables/spacing";
@import "variables/dropdown";

// Leftbar width
$leftbar-width: 240px;
$leftbar-width-condensed: 70px;

// Leftbar width
$leftbar-width: 240px;
$leftbar-width-condensed: 70px;

// Small Leftbar Width
$leftbar-width-sm: 160px;

// Boxed layout width
$boxed-layout-width: 1300px;

//Background left-sidebar
$bg-leftbar: #ffffff;
$bg-leftbar-dark: #38414a;
$bg-leftbar-brand: #3bafda;
$bg-leftbar-gradient: #242540;

//Topbar Background
$bg-topbar-light: #ffffff;
$bg-topbar-dark: #3bafda;

// Topbar Height
$topbar-height: 70px;

// Shadow
$shadow-sm: 0 0.75rem 6rem rgba(56, 65, 74, .03);
$shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
$shadow-lg: 0 0 45px 0 rgba(0, 0, 0, 0.12);

// Logo
$bg-logo: #3bafda;

// Logo Display
$logo-dark-display: none;
$logo-light-display: block;

// Typography
$text-muted: $gray-600;
$font-size-base: 0.9rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .9;

//Menu item
$menu-item: #6e768e;
$menu-item-hover: #3bafda;
$menu-item-active: #3bafda;
$menu-sub-item-active: #3bafda;
$menu-item-size: 0.95rem;
$menu-sub-item-size: 0.9rem;

// label
$label-font-weight: 600;

// Secondary font
$font-family-secondary: 'Roboto', sans-serif;

// Body
//
// Settings for the `<body>` element.

$body-bg: #f5f6f8;
$body-color: $gray-700;

// Links
$link-color: theme-color("primary");
$link-decoration: none;
// $link-hover-color:                        darken($link-color, 15%);
$link-hover-decoration: none;


// Options
$enable-caret: false;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
