//
// footer.scss
//

.footer {
    bottom: 0;
    padding: 19px 15px 20px;
    position: absolute;
    right: 0;
    color: $text-muted;
    left: $leftbar-width;
    text-align: center;
    background-color: darken($body-bg, 2.5%);
}

@include media-breakpoint-down(sm) {
    .footer {
        left: 0 !important;
        text-align: center;
    }
}

@include media-breakpoint-up(lg) {
    .footer {
        position: inherit;
        margin: 0 10px;
    }
}
