//
// Sidemenu
//
.left-side-menu {
  width: $leftbar-width;
  background: $bg-leftbar;
  bottom: 0;
  padding: 20px 0;
  position: fixed;
  transition: all .1s ease-out;
  top: 0;
  padding-top: calc(#{$topbar-height} + 20px);
  box-shadow: $shadow;
  z-index: 1;
}

@include media-breakpoint-down(md) {
  body {
    overflow-x: hidden;
    padding-bottom: 80px;
  }

  .left-side-menu {
    display: none;
    z-index: 100 !important;
  }

  .sidebar-enable {
    .left-side-menu {
      display: block;
    }
  }

  .content-page,
  body[data-sidebar-size="condensed"] .content-page {
    margin-left: 0 !important;
  }

  .footer {
    left: 0 !important;
  }
}

// Detached Left sidebar
body[data-layout-mode="detached"] {
  .left-side-menu {
    top: $topbar-height;
    padding-top: 0;

    .logo-box {
      display: none;
    }
  }

  &:not([data-sidebar-size="condensed"]) {
    .left-side-menu {
      padding-top: 30px;
    }
  }

  @include media-breakpoint-up(lg) {
    #wrapper {
      max-width: 95%;
      margin: 0 auto;
    }

    .content-page {
      padding-bottom: 30px;
    }

    .navbar-custom {
      left: 0 !important;

      .container-fluid {
        max-width: 95%;
      }
    }

    .left-side-menu {
      margin-top: 30px;
      margin-bottom: 30px;
      border-radius: 5px;
    }

    .logo-box {
      background-color: transparent !important;
      background-image: none !important;
    }
  }
}


// Sidebar
#sidebar-menu {
  >ul {
    list-style: none;
    padding: 0;

    >li {
      >a {
        color: $menu-item;
        display: block;
        padding: 12px 20px;
        position: relative;
        transition: all 0.4s;
        font-family: $font-family-secondary;
        font-size: $menu-item-size;

        &:hover,
        &:focus,
        &:active {
          color: $menu-item-hover;
          text-decoration: none;
        }

        >span {
          vertical-align: middle;
        }

        i {
          display: inline-block;
          line-height: 1.0625rem;
          margin: 0 10px 0 3px;
          text-align: center;
          vertical-align: middle;
          width: 16px;
          font-size: 16px;
        }

        svg {
          width: 16px;
          height: 16px;
          margin-left: 3px;
          margin-right: 10px;
        }

        .drop-arrow {
          float: right;

          i {
            margin-right: 0;
          }
        }
      }

      >a.mm-active {
        color: $menu-item-active;
      }

      ul {
        padding-left: 34px;
        list-style: none;

        ul {
          padding-left: 20px;
        }
      }
    }
  }

  .badge {
    margin-top: 4px;
  }

  .menu-title {
    padding: 10px 20px;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: 0.6875rem;
    text-transform: uppercase;
    color: $menu-item;
    font-weight: $label-font-weight;
  }

  .menuitem-active {
    > a {
      color: $menu-item-active;
    }

    .active {
      color: $menu-item-active;
    }
  }
}


.nav-second-level {
  li {
    a {
      padding: 8px 20px;
      color: $menu-item;
      display: block;
      position: relative;
      transition: all 0.4s;
      font-size: $menu-sub-item-size;

      &:focus,
      &:hover {
        color: $menu-item-hover;
      }
    }

    &.active {
      >a {
        color: $menu-item-active;
      }
    }
  }
}

.menu-arrow {
  transition: transform .15s;
  position: absolute;
  right: 20px;
  display: inline-block;
  font-family: 'Material Design Icons';
  text-rendering: auto;
  line-height: 1.5rem;
  font-size: 1.1rem;
  transform: translate(0, 0);

  &:before {
    content: "\F0142";
  }
}

li{

  >a[aria-expanded="true"] {
    > span.menu-arrow {
      transform: rotate(90deg);
    }
  }

  &.menuitem-active {
    > a:not(.collapsed) {
      > span.menu-arrow {
        transform: rotate(90deg);
      }
    }
  }
}

