//
// topbar.scss
//

@import "topbar_notification";
@import "topbar_logo";

.navbar-custom {
  background-color: $bg-topbar-dark;
  box-shadow: $shadow;
  padding: 0 10px 0 0;
  position: fixed;
  left: $leftbar-width;
  right: 0;
  top: 0;
  height: $topbar-height;
  transition: all .1s ease-out;
  z-index: 1001;

  .logo-box {
    display: none;
  }

  .topnav-menu {
    > li {
      float: left;
    }

    .nav-link {
      padding: 0 15px;
      color: rgba($white, 0.75);
      min-width: 32px;
      display: block;
      line-height: $topbar-height;
      text-align: center;
      max-height: $topbar-height;
    }
  }

  .dropdown.show {
    .nav-link {
      background-color: rgba($white, 0.1);
    }
  }

  .container-fluid {
    padding: 0;
  }

  .button-menu-mobile {
    display: none;
    border: none;
    color: $white;
    height: $topbar-height;
    line-height: $topbar-height;
    width: 60px;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
  }

  .button-menu-mobile.disable-btn {
    display: none;
  }
}

.profile-dropdown {
  min-width: 170px;

  i {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 16px;
  }
}

.nav-user {
  padding: 0 12px !important;

  img {
    height: 32px;
    width: 32px;
  }
}

@include media-breakpoint-down(md) {
  .pro-user-name {
    display: none;
  }
}

//
// Media Queries
//
@media (max-width: 360px) {
  .navbar-custom {
    .topnav-menu {
      .nav-link {
        padding: 0 12px;
      }
    }

    .button-menu-mobile {
      width: 45px;
    }
  }
}

@media (max-width: 600px) {
  .navbar-custom {
    .dropdown {
      position: static;

      .dropdown-menu {
        left: 10px !important;
        right: 10px !important;
      }
    }
  }
}

@include media-breakpoint-down(md) {

  .logo-box {
    width: $leftbar-width-condensed !important;
    padding-right: 0 !important;

    .logo-lg {
      display: none !important;
    }

    .logo-sm {
      display: block !important;
    }
  }

  .navbar-custom {
    left: 0 !important;

    .button-menu-mobile {
      display: inline-block;
    }
  }
}

@include media-breakpoint-down(lg) {
  body[data-layout-mode="detached"] {
    .navbar-custom {
      padding: 0 !important;
    }
  }
}