//
// Logo
//
.logo-box {
  height: $topbar-height;
  width: $leftbar-width;
  transition: all .1s ease-out;
  background-color: $bg-logo;
  position: fixed;
  top: 0;
  z-index: 1;

  .logo {
    line-height: $topbar-height;
  }
}

// Logo
.logo {
  display: block;

  span.logo-lg {
    display: block;
  }

  span.logo-sm {
    display: none;
  }

  .logo-lg-text-dark {
    color: $dark;
    font-weight: $font-weight-bold;
    font-size: 22px;
    text-transform: uppercase;
  }

  .logo-lg-text-light {
    color: $white;
    font-weight: $font-weight-bold;
    font-size: 22px;
    text-transform: uppercase;
  }
}

.logo-light {
  display: $logo-light-display;
}

.logo-dark {
  display: $logo-dark-display;
}
